{% extends 'marsapp/main.html' %}

{% block content %}



      <div class="my-3 card">
        <div class="card-body">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault5">
                <label class="form-check-label" for="flexSwitchCheckDefault5">plug</label>
            </div>
        </div>
      </div>


      <div class="my-3 card">
        <div class="card-body">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault6">
                <label class="form-check-label" for="flexSwitchCheckDefault6">sound system</label>
            </div>
        </div>
      </div>



{% endblock %}