{% extends 'marsapp/main.html' %}

{% block content %}



      <div class="my-3 card">
        <div class="card-body">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault9">
                <label class="form-check-label" for="flexSwitchCheckDefault9">reading lamp</label>
            </div>
        </div>
      </div>


      <div class="my-3 card">
        <div class="card-body">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault10">
                <label class="form-check-label" for="flexSwitchCheckDefault10">big lamp</label>
            </div>
        </div>
      </div>

      <div class="my-3 card">
        <div class="card-body">
            <div class="text-center form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault11">
                <label class="form-check-label" for="flexSwitchCheckDefault11">sleep music</label>
            </div>
        </div>
      </div>

      <div class="my-3 card">
        <div class="card-body">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault12">
                <label class="form-check-label" for="flexSwitchCheckDefault12">mood lamp</label>
            </div>
        </div>
    </div>


{% endblock %}