{% extends 'marsapp/main.html' %}

{% block content %}



      <div class="my-3 card">
        <div class="card-body">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault7">
                <label class="form-check-label" for="flexSwitchCheckDefault7">water cooker</label>
            </div>
        </div>
      </div>


      <div class="my-3 card">
        <div class="card-body">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault8">
                <label class="form-check-label" for="flexSwitchCheckDefault8">microwave</label>
            </div>
        </div>
      </div>



{% endblock %}