{% extends 'marsapp/main.html' %}

{% block content %}



    



      <div class="my-3 card">
        <div class="card-body">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault1">
                <label class="form-check-label" for="flexSwitchCheckDefault1">reading lamp</label>
            </div>
        </div>
      </div>


      <div class="my-3 card">
        <div class="card-body">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault2">
                <label class="form-check-label" for="flexSwitchCheckDefault2">holographic TV</label>
            </div>
        </div>
      </div>

      <div class="my-3 card">
        <div class="card-body">
            <div class="text-center form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault3">
                <label class="form-check-label" for="flexSwitchCheckDefault3">big lamp</label>
            </div>
        </div>
      </div>

      <div class="my-3 card">
        <div class="card-body">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault4">
                <label class="form-check-label" for="flexSwitchCheckDefault4">earth simulator</label>
            </div>
        </div>
    </div>


{% endblock %}