{% extends 'marsapp/main.html' %}

{% block content %}

<div class="my-5 row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
            <div class="text-center form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">reading lamp</label>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">holographic TV</label>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="my-5 row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
            <div class="text-center form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">big lamp</label>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">earth simulator</label>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}