

#bathroom{
    background-color:#e4aaaacd;
}

#kitchen{
    background-color:   #ed8e8e;
}

#livingroom {
    background-color: #dea27492;
 }

#bedroom{
    background-color: #e99162;
}

#prog {
    background-color: #9d9d9d;
}